@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-header: var(--color-gray-50);
    --color-root: var(--color-white);
    --color-border: var(--color-gray-100);
    --color-compat-card: oklch(0.898 0 89.876);
    --color-text: var(--color-black);
    --color-status-playable: oklch(.723 .219 149.579);
    --color-status-ingame: oklch(.488 .243 264.376);
    --color-status-menus: oklch(.673 .182 276.935);
    --color-status-boots: oklch(.681 .162 75.834);
    --color-status-nothing: oklch(.577 .245 27.325);
}

:root {
    @variant dark {
        --color-header: var(--color-gray-950);
        --color-root: oklch(0.19 0.03 269.8 / 1);
        --color-border: var(--color-gray-700);
        --color-compat-card: oklch(0.25 0.02 269.25);
        --color-text: var(--color-white);
    }
}
