@import 'tailwindcss';

@theme {
    --color-header: var(--color-gray-50);
    --color-root: var(--color-white);
    --color-border: var(--color-gray-100);
    --color-compat-card: oklch(0.898 0 89.876);
}

@theme .dark {
    --color-header: var(--color-gray-950);
    --color-root: oklch(0.19 0.03 269.8 / 1);
    --color-border: var(--color-gray-700);
    --color-compat-card: oklch(0.25 0.02 269.25);
}
