@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-header: var(--color-gray-200);
    --color-root: var(--color-white);
    --color-border: var(--color-gray-100);
    --color-compat-card: oklch(0.898 0 90);
    --color-text: var(--color-black);

    /*Compatibility colors*/
    --color-status-playable: var(--color-green-500);
    --color-status-ingame: var(--color-blue-500);
    --color-status-menus: var(--color-violet-500);
    --color-status-boots: var(--color-yellow-500);
    --color-status-nothing: var(--color-red-500);
}

:root {
    @variant dark {
        --color-header: var(--color-gray-950);
        --color-root: oklch(0.19 0.03 269.8 / 1);
        --color-border: var(--color-gray-800);
        --color-compat-card: oklch(0.21 0.02 269.1);
        --color-text: var(--color-white);
    }

    /* Scroll Margin: Prevents the sticky header from covering the title when you click.*/
    .prose h1,
    .prose h2,
    .prose h3 {
        /* Header height + 1rem padding */
        scroll-margin-top: 5rem;
    }

    .toc-active {
        @apply font-medium text-white;
    }
}
