---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Compatibility">
    <div class="flex justify-center gap-16">
        <!--Header and chart container-->
        <div class="h-80 w-110 bg-gray-800 rounded-lg p-4 flex flex-col">
            <!--Header-->
            <div class="border-gray-200 border-b dark:border-gray-700 flex flex-col pb-2">
                <span class="text-xl font-normal text-gray-600 dark:text-white pb-1">Windows</span>
                <span class="text-sm font-normal text-gray-600 dark:text-gray-300 pb-1">Tested games: 213</span>
            </div>
            <!--Chart-->
            <div>

            </div>
        </div>
        <div class="h-80 w-110 bg-gray-800 rounded-lg p-4 flex flex-col">
            <!--Header-->
            <div class="border-gray-200 border-b dark:border-gray-700 flex flex-col pb-2">
                <span class="text-xl font-normal text-gray-600 dark:text-white pb-1">Linux</span>
                <span class="text-sm font-normal text-gray-600 dark:text-gray-300 pb-1">Tested games: 213</span>
            </div>
            <!--Chart-->
            <div>

            </div>
        </div>
        <div class="h-80 w-110 bg-gray-800 rounded-lg p-4 flex flex-col">
            <!--Header-->
            <div class="border-gray-200 border-b dark:border-gray-700 flex flex-col pb-2">
                <span class="text-xl font-normal text-gray-600 dark:text-white pb-1">macOS</span>
                <span class="text-sm font-normal text-gray-600 dark:text-gray-300 pb-1">Tested games: 213</span>
            </div>
            <!--Chart-->
            <div>

            </div>
        </div>
    </div>
</Layout>
