---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import {FaWindows, FaLinux, FaApple} from 'react-icons/fa';
import CompatibilityCard from '../components/compatibility/CompatibilityCard.astro';

const startWin = [
    {
        tag: 'Nothing',
        percent: 29.6,
        count: 185,
        total: 625,
    },
    {
        tag: 'Boots',
        percent: 19.52,
        count: 122,
        total: 625,
    },
    {
        tag: 'Menus',
        percent: 15.52,
        count: 97,
        total: 625,
    },
    {
        tag: 'Ingame',
        percent: 22.88,
        count: 143,
        total: 625,
    },
    {
        tag: 'Playable',
        percent: 12.48,
        count: 78,
        total: 625,
    },
];
const startLinux = [
    {
        tag: 'Nothing',
        percent: 32.49,
        count: 167,
        total: 514,
    },
    {
        tag: 'Boots',
        percent: 23.74,
        count: 122,
        total: 514,
    },
    {
        tag: 'Menus',
        percent: 12.84,
        count: 66,
        total: 514,
    },
    {
        tag: 'Ingame',
        percent: 19.26,
        count: 99,
        total: 514,
    },
    {
        tag: 'Playable',
        percent: 11.67,
        count: 60,
        total: 514,
    },
];
const startMac = [
    {
        tag: 'Nothing',
        percent: 46.6,
        count: 96,
        total: 206,
    },
    {
        tag: 'Boots',
        percent: 22.82,
        count: 47,
        total: 206,
    },
    {
        tag: 'Menus',
        percent: 14.08,
        count: 29,
        total: 206,
    },
    {
        tag: 'Ingame',
        percent: 13.11,
        count: 27,
        total: 206,
    },
    {
        tag: 'Playable',
        percent: 3.4,
        count: 7,
        total: 206,
    },
];
---

<Layout title="Compatibility">
    <div class="flex justify-center gap-16">
        <!--Windows Tab-->
        <CompatibilityCard name="Windows" osStart={startWin}>
            <FaWindows slot="icon" className="size-12 fill-gray-600 dark:fill-white" />
        </CompatibilityCard>

        <!--Linux Tab-->
        <CompatibilityCard name="Linux" osStart={startLinux}>
            <FaLinux slot="icon" className="size-12 fill-gray-600 dark:fill-white" />
        </CompatibilityCard>

        <!--macOS Tab-->
        <CompatibilityCard name="macOS" osStart={startMac}>
            <FaApple slot="icon" className="size-12 fill-gray-600 dark:fill-white" />
        </CompatibilityCard>
    </div>
</Layout>
