---
import DownloadPage from '@/components/downloads/DownloadPage.tsx';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Downloads">
    <span class="text-text font-bold">Here you can find the latest released version of shadPS4 emulator</span>
    <DownloadPage client:load />
</Layout>
