---
import Layout from '../layouts/Layout.astro';
import {Image} from 'astro:assets';
import gamesImg from '../assets/game_images/Untitled.png';
---

<Layout title="Home">
    <div class="relative w-full">
        <Image
            src={gamesImg}
            alt="Games"
            loading="eager"
            class="h-full w-full flex-col items-center justify-center opacity-30 mask-x-from-20% mask-x-to-100%"
        />

        <!-- Text overlay -->
        <div class="absolute inset-0 flex flex-col items-center justify-center gap-y-16">
            <span class="text-8xl font-bold text-white">shadPS4</span>
            <span class="mt-2 font-semibold text-white">
                shadPS4 is an early PlayStation 4 emulator for Windows, Linux and macOS written in C++
            </span>
        </div>
    </div>

    <div class="grid grid-cols-2 grid-rows-2 gap-2 px-40">
        <div class="rounded-tl-lg h-100 w-full bg-compat-card border-border border-2">01</div>
        <div class="rounded-tr-lg h-100 w-full bg-compat-card border-border border-2">01</div>
        <div class="rounded-bl-lg h-100 w-full bg-compat-card border-border border-2">01</div>
        <div class="rounded-br-lg h-100 w-full bg-compat-card border-border border-2">01</div>
    </div>
</Layout>
