---
const about = [
    {name: 'Privacy Policy', href: '/about/privacy-policy'},
    {name: 'Terms and Conditions', href: '/about/terms-and-conditions'},
];
---
<div class="relative">
    <button
        popovertarget="about-popover"
        class="inline-flex items-center gap-x-1 [anchor-name:--about]"
        id="popover-button-0"
        type="button"
        aria-haspopup="true"
        aria-controls="about-popover"
        aria-expanded="false"
    >
        <span class="text-base/6 font-semibold text-white">About</span>
        <svg
            viewBox="0 0 20 20"
            data-slot="icon"
            aria-hidden="true"
            class="size-5"
        >
            <path
                d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                clip-rule="evenodd"
                fill-rule="evenodd"
                class="fill-black dark:fill-white"
            ></path>
        </svg>
    </button>

    <el-popover
        id="about-popover"
        anchor="bottom"
        popover=""
        aria-labelledby="about-btn"
        class="border-border bg-header z-50 w-screen max-w-54 overflow-hidden rounded-lg border shadow-xl [position-anchor:--about] [top:anchor(bottom)] [left:anchor(left)] mt-3"
    >
        <div class="flex flex-col p-2">
            {about.map(item => (
                <a href={item.href}>
                    <span class="block p-2 font-semibold text-white">{item.name}</span>
                </a>
            ))}
        </div>
    </el-popover>
</div>
