---
import {MdKeyboardArrowDown} from 'react-icons/md';
import {about} from '../../layouts/navigation.ts';
---

<div class="relative">
    <button
        popovertarget="about-popover"
        class="inline-flex items-center [anchor-name:--about]"
        id="popover-button-0"
        type="button"
        aria-haspopup="true"
        aria-controls="about-popover"
        aria-expanded="false"
    >
        <span class="text-base/6 font-semibold text-text">About</span>
        <MdKeyboardArrowDown className=" text-text size-5" />
    </button>

    <el-popover
        id="about-popover"
        anchor="bottom"
        popover=""
        aria-labelledby="about-btn"
        class="border-border bg-header z-50 w-screen max-w-54 overflow-hidden rounded-lg border shadow-xl [position-anchor:--about] [top:anchor(bottom)] [left:anchor(left)] mt-3"
    >
        <div class="flex flex-col p-2">
            {
                about.map(item => (
                    <a href={item.href}>
                        <span class="block p-2 font-semibold text-text">{item.name}</span>
                    </a>
                ))
            }
        </div>
    </el-popover>
</div>
