---
const gallery = [
    {name: 'Photos', href: '/gallery/photos'},
    {name: 'Videos', href: '/gallery/videos'},
];
---
<div class="relative">
    <button
        popovertarget="gallery-popover"
        class="inline-flex items-center gap-x-1"
        id="popover-button-1"
        type="button"
        aria-haspopup="true"
        aria-controls="gallery-popover"
        aria-expanded="false"
    >
        <span class="text-base/6 font-semibold text-white">Gallery</span>
        <svg
            viewBox="0 0 20 20"
            data-slot="icon"
            aria-hidden="true"
            class="size-5"
        >
            <path
                d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                clip-rule="evenodd"
                fill-rule="evenodd"
                class="fill-black dark:fill-white"
            ></path>
        </svg>
    </button>

    <el-popover
        id="gallery-popover"
        anchor="bottom"
        popover=""
        data-default-open=""
        className="border-border bg-header absolute mt-3 h-fit w-screen max-w-54 overflow-hidden rounded-lg border"
    >
        <div class="flex flex-col p-2">
            {gallery.map(item => (
                <a href={item.href}>
                    <span class="block p-2 font-semibold text-white">{item.name}</span>
                </a>
            ))}
        </div>
    </el-popover>
</div>