---
import {siteConfig} from '@/data/site.config.ts';
---

<footer class="bg-header mt-8 w-full">
    <div class="mx-auto flex h-16 w-full max-w-[1850px] items-center px-4 sm:px-6 lg:px-8">
        <span class="text-body text-text">
            © 2025 <a href={siteConfig.site} class="text-text hover:text-white hover:underline">{siteConfig.author}™</a>. All Rights Reserved.
        </span>
    </div>
</footer>
