---

---

<footer class="mt-8 w-full bg-header">
    <div class="mx-auto flex h-16 w-full max-w-[1850px] items-center px-4 sm:px-6 lg:px-8">
        <span class="text-body text-text">
            © 2025 <a href="https://shadps4.net/" class="text-text hover:underline hover:text-white">shadPS4™</a>. All Rights Reserved.
        </span>
    </div>
</footer>
