---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import shadPS4Logo from '/src/assets/shadPS4Logo.png';
---

<span class="text-white">Work in progress</span>
