---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import shadPS4Logo from "/src/assets/shadPS4Logo.png";
---

<div class="justify-stretch flex px-10">
	<div class="h-200 bg-amber-200 w-full">

	</div>
	<div class="h-200 bg-blue-200 w-full">

	</div>
</div>
<div class="mx-auto max-w-md overflow-hidden rounded-xl bg-white shadow-md md:max-w-2xl w-full">
	<div class="md:flex">
		<div class="md:shrink-0">
			<img
				class="h-48 w-full object-cover md:h-full md:w-48"
				src={shadPS4Logo.src}
				alt="Modern building architecture"
			/>
		</div>
		<div class="p-8">
			<div class="text-sm font-semibold tracking-wide text-indigo-500 uppercase">Company retreats</div>
			<a href="#" class="mt-1 block text-lg leading-tight font-medium text-black hover:underline">
				Incredible accommodation for your team
			</a>
			<p class="mt-2 text-gray-500">
				Looking to take your team away on a retreat to enjoy awesome food and take in some sunshine? We have a list of
				places to do just that.
			</p>
		</div>
	</div>
</div>