---
interface Props {
    cite?: string;
}

const props = Astro.props;
---

<blockquote {...props} class="m-4 mb-4 bg-blue-50 p-4 dark:bg-gray-700">
    <span class="mb-2 text-4xl text-blue-600">“</span>
    <slot />
    {
        props.cite && (
            <div class="w-full text-end">
                <cite>— {props.cite}</cite>
            </div>
        )
    }
</blockquote>
