---
interface Props {
    cite?: string;
}

const props = Astro.props;
---

<blockquote {...props} class="bg-blue-50 dark:bg-gray-700 p-4 m-4 mb-4">
    <span class="text-4xl text-blue-600 mb-2">“</span>
    <slot />
    {
        props.cite && (
            <div class="w-full text-end">
                <cite>— {props.cite}</cite>
            </div>
        )
    }
</blockquote>
