---
interface Props {
    url: string;
    title: string;
}

const {url, title} = Astro.props;

const youtubeRegex = /^(https?:\/\/)?(www\.)?(youtube\.com|youtu\.be)\/watch\?v=([a-zA-Z0-9_-]+)$/;

if (!youtubeRegex.test(url)) {
    throw new Error(`Invalid YouTube URL: ${url}`);
}

const match = url.match(youtubeRegex);
const videoId = match ? match[4] : '';
---

<div class="relative mt-8 mb-8 aspect-video w-full">
    <iframe
        width="560"
        height="315"
        src={`https://www.youtube.com/embed/${videoId}`}
        class="absolute inset-0 h-full w-full"
        title={title}
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
        loading="lazy"></iframe>
</div>
