---
import TOCHeading from './TOCHeading.astro';
import type {Heading} from '../../data/types.ts';

const {headings} = Astro.props;

function buildToc(headings: Heading[] = []) {
    const toc: Heading[] = [];
    const parentHeadings = new Map<number, Heading>();

    headings.forEach(h => {
        const heading: Heading = {...h, subheadings: []};
        parentHeadings.set(heading.depth, heading);

        // find parent
        const parent = parentHeadings.get(heading.depth - 1);

        if (parent) {
            parent.subheadings.push(heading);
        } else {
            toc.push(heading);
        }
    });
    return toc;
}

const toc = buildToc(headings);
---

<nav class="toc-container sticky top-8 max-h-[calc(100vh-4rem)] overflow-y-auto">
    <h3 class="text-lg font-semibold text-gray-200 mb-4">On this page</h3>

    <ul class="flex flex-col gap-2">
        {toc.map(heading => <TOCHeading heading={heading} />)}
    </ul>
</nav>

<script>
    const initTOC = () => {
        const tocLinks = document.querySelectorAll('.toc-link');
        const sections = document.querySelectorAll('.prose h1, .prose h2, .prose h3');

        const observer = new IntersectionObserver(
            entries => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        // remove active class from all links
                        tocLinks.forEach(link => link.classList.remove('toc-active'));

                        // add an active class to the current link
                        const activeLink = document.querySelector(`.toc-link[href="#${entry.target.id}"]`);
                        if (activeLink) {
                            activeLink.classList.add('toc-active');
                        }
                    }
                });
            },
            {rootMargin: '-100px 0px -66% 0px'},
        );

        sections.forEach(section => observer.observe(section));
    };

    initTOC();
    document.addEventListener('astro:page-load', initTOC);
</script>
