---
import {getCollection} from 'astro:content';
const allPosts = await getCollection('blog');
import Post from '../../components/blog/Post.tsx';

// sort by Date (top 3)
const recentPosts = allPosts.sort((a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()).slice(0, 3);
---

<div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
    {recentPosts.map(post => <Post post={post} />)}
</div>
