---
import '../styles/global.css';
const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/shadps4-test/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <script is:inline>
            const theme = (() => {
                const localStorageTheme = localStorage?.getItem('theme') ?? '';
                if (['dark', 'light'].includes(localStorageTheme)) {
                    return localStorageTheme;
                }
                if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    return 'dark';
                }
                return 'light';
            })();

            if (theme === 'light') {
                document.documentElement.classList.remove('dark');
            } else {
                document.documentElement.classList.add('dark');
            }

            window.localStorage.setItem('theme', theme);
        </script>
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
